<!DOCTYPE html>
<html lang="en">

<head>
    <title>VueJS - Components</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js'></script>

</head>

<body>
    <h1>VueJS - Components</h1>

    <div id="parent">
        Parent：<input type="text" v-model="msg"> {{ msg }}
        <child :msg="msg"></child>
    </div>

    <script>
        new Vue({
            el: '#parent',
            data: {
                msg: 'Hello'
            },
            components: {
                child: Vue.extend({
                    template: '<div>Child：<input type="text" v-model="msg" />{{msg}}</div>',
                    props: {
                        number: Array,
                        msg: String
                    },
                }),
            }
        });
    </script>
</body>

</html>